@model ESGIForm.Models.Form
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/layout.cshtml";

}
<div class="container">
    <h2>Ajouter un formulaire</h2>
    <div ng-app="TodoManager">
        <div ng-controller="MainCtrl">

            @* Information *@
            @if (@Model.Status != "1")
            {
                <div>
                    <form action="/form/close" method="post">
                        <input type="hidden" name="guid" value="@Model.FormId" />
                        <button class="btn btn-lg btn-success btn-sm" type="submit">Publier le formulaire</button>
                    </form>
                </div>
            }
            <div>
                @using (Html.BeginForm("Edit", "Form", FormMethod.Post))
                {
                    <button class="btn btn-lg btn-primary btn-sm" type="submit">Sauvegarder les modifications</button><br /><br />
                    <label>Titre :</label>
                    @Html.TextBoxFor(f => f.Title, new { @class = "form-control" })
                    <label>Description :</label>
                    @Html.TextBoxFor(f => f.Description, new { @class = "form-control" })
                    <label>Date :</label>
                    @Html.TextBoxFor(f => f.CloseDate, new { type = "date", id = "CloseDate" })
                    @Html.HiddenFor(f => f.FormId)

                }

            </div>


            @*@* Information 
            <div>
                Titre : <input type="text" ng-model="form.title" class="form-control" /><br>
                Description : <input type="text" ng-model="form.description" class="form-control" /><br>
                Date de cloture : <input type="text" ng-model="form.closedate" id="CloseDate"><br>
            </div>*@

            @* Ajouter une question *@
            <div>
                Question :
                <input type="text" ng-model="newItem.Title" class="form-control" /><br>
                <input type="hidden" name="Name" ng-model="newItem.Name" ng-init="newItem.Name = Name" /><br>
                <button ng-click="add(newItem)" class="btn btn-primary btn-sm">Ajouter une question</button>
            </div>
            @* Liste des questions *@
            <div>
                <div ng-repeat="item in todos">
                    <!-- Template Affichage -->
                    <div ng-show="!edit">
                        
                        <span ng-class="{barre : IsFinished}">
                            {{item[$index].Title}}
                        </span>

                        <input type="hidden" ng-model="item[$index].QuestionId" /><br>

                        <button ng-click="edit = !edit" class="btn btn-warning btn-sm">Modifier</button>
                    </div>
                    <!-- Template Edition -->
                    <div ng-show="edit">
                        <input type="text" ng-model="item[$index].Title" /><br>
                        <input type="hidden" ng-model="item[$index].QuestionId" /><br>

                        <button ng-click="delete({QuestionId : item[$index].QuestionId, Index : $index});edit = !edit" class="btn btn-danger btn-xs">Supprimer</button>
                        <button ng-click="save(item[$index]);edit = !edit" class="btn btn-primary btn-xs">Sauvegarder</button>
                        
                    </div>
                    <br />
                </div>
            </div>

            @* Close
            <div>
                <form action="/form/close" method="post">
                    <input type="hidden" name="guid" value="@Model.FormId" />
                    <button value="close" type="submit" class="btn btn-success btn-sm">Valider</button>

                </form>
                <button ng-click="saveform(form);" class="btn btn-primary btn-sm">Sauvegarder</button>
            </div>
            *@
        </div>
      
        <script src="~/Scripts/angular.js"></script>
        <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>

        <script type="text/javascript">
            var app = angular.module('TodoManager', []);
            app.controller('MainCtrl', function ($scope, $http) {

                $scope.delete = function (itemToDelete) {
                    $http.post('/Question/Delete/', itemToDelete)
                        .success(function (res, a, b, c) {
                            $scope.todos.splice(itemToDelete.Index, 1);
                        });
                };

                $scope.save = function (itemToUpdate) {
                    $http.put('/Question/Edit', itemToUpdate)
                         .success(function (res, a, b, c) {
                         });
                };

                $scope.tata = function (itemToUpdate) {
                    console.log(itemToUpdate)
                };

                $scope.add = function (newItem) {
                    newItem.FormId = "@Model.FormId";
                    $http.post('/Question/Add', newItem)
                         .success(function (res, a, b, c) {
                             $scope.todos.push(res);
                         });
                };

                $scope.close = function (guid) {
                    $http.post('/Form/Close', { 'guid': guid })
                         .success(function (res, a, b, c) {
                         });
                };

                $scope.saveform = function (form) {
                    form.FormId = "@Model.FormId";
                    $http.post('/Form/Edit', form)
                         .success(function (res, a, b, c) {
                         });
                };


                $http.get('/Form/List', { params: { guid: "@Model.FormId" } })
                    .success(function (res, a, b, c) {
                        $scope.todos = res;
                        console.log(res);
                    });
            });

        </script>
    </div>


</div>