@model ESGIForm.Models.Form
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/layout.cshtml";
    var title = @Model.Title;
    var description = @Model.Description;
    var closedate = @Model.CloseDate;
}

@if (ViewBag.edit != "")
{
    <p class="bg-success">@ViewBag.edit</p>
}
@if (Model != null) { 
<div class="container">
    <div ng-app="TodoManagerr">
        <div ng-controller="MainCtrll">
            
            @* Information *@
            @if (@Model.Status != "1") { 
            <div>
                <form action="/form/close" method="post">
                    <input type="hidden" name="guid" value="@Model.FormId" />
                    <button class="btn btn-lg btn-success btn-sm" type="submit">Publier le formulaire</button>
                </form>
            </div>
            }
            <div>
                @using (Html.BeginForm("Edit", "Form", FormMethod.Post))
                {
                    <button class="btn btn-lg btn-primary btn-sm" type="submit">Sauvegarder les modifications</button><br/><br/>
                    <label>Titre :</label>
                    @Html.TextBoxFor(f => f.Title, new { @class = "form-control" })
                     <label>Description :</label>
                    @Html.TextBoxFor(f => f.Description, new { @class = "form-control" })
                     <label>Date :</label>
                    @Html.TextBoxFor(f => f.CloseDate)
                    @Html.HiddenFor(f => f.FormId)

                }
              
            </div>
            <br />
            @* Ajouter une question *@
            <div>
                Question :
                <input type="text" ng-model="newItem.Title" /><br>
                <button ng-click="add(newItem)" class="btn btn-primary btn-sm">Ajouter une question</button>
            </div>
            @* Liste des questions *@
            <ul>
                <li ng-repeat="item in todos">
                    <!-- Template Affichage -->
                    <div ng-show="!edit">
                      
                        <!--<span ng-class="{barre : IsFinished}">
                            {{item.Title}}
                        </span> -->
                        <span ng-if="item.Title != null ">{{item.Title}}</span>
                        <span ng-if="item.Title == null ">{{item[$index].Title}}</span>


                        <input type="hidden" ng-model="item[$index].QuestionId" /><br>

                        <button ng-click="edit = !edit" class="btn btn-warning btn-xs">Modifier</button>
                    </div>
                    <!-- Template Edition -->
                    <div ng-show="edit" ng-if="item.Title == null">
                        <input type="text" ng-model="item[$index].Title" /><br>
                        <input type="hidden" ng-model="item[$index].QuestionId" /><br>

                        <button ng-click="delete({QuestionId : item[$index].QuestionId, Index : $index});edit = !edit" class="btn btn-danger btn-xs">Supprimer</button>
                        <button ng-click="save(item[$index]);edit = !edit" class="btn btn-primary btn-xs">Sauvegarder</button>
                    </div>

                    <div ng-show="edit" ng-if="item.Title != null">
                        <input type="text" ng-model="item.Title" /><br>
                        <input type="hidden" ng-model="item.QuestionId" /><br>

                        <button ng-click="delete({QuestionId : item.QuestionId, Index : $index});edit = !edit" class="btn btn-danger btn-xs">Supprimer</button>
                        <button ng-click="save(item);edit = !edit" class="btn btn-primary btn-xs">Sauvegarder</button>
                    </div>

                </li>
            </ul>

            @* Close *@
           
        </div>
        
        <script src="~/Scripts/angular.js"></script>
        <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>

        <script type="text/javascript">
    var app = angular.module('TodoManagerr', []);
    app.controller('MainCtrll', function ($scope, $http) {
       
        $scope.delete = function (itemToDelete) {
            $http.post('/Question/Delete/', itemToDelete)
                .success(function (res, a, b, c) {
                    $scope.todos.splice(itemToDelete.Index, 1);
                });
        };

        $scope.save = function (itemToUpdate) {
            $http.put('/Question/Edit', itemToUpdate)
                 .success(function (res, a, b, c) {
                 });
            
        };



        $scope.add = function (newItem) {
            newItem.FormId = "@Model.FormId";
            $http.post('/Question/Add', newItem)
                 .success(function (res, a, b, c) {
                     $scope.todos.push(res);
                 });
        };

        $scope.close = function (guid) {
            $http.post('/Form/Close', { 'guid': "@Model.FormId" })
                 .success(function (res, a, b, c) {
                 });
        };

        $scope.saveform = function (form) {
            form.FormId = "@Model.FormId";
            $http.post('/Form/Edit', form)
                 .success(function (res, a, b, c) {
                 });
        };

        $http.get('/Form/List', { params: { guid: "@Model.FormId" } })
            .success(function (res, a, b, c) {
                $scope.todos = res;
                console.log(res);
            });
    });

        </script>
</div>
</div>
}

