@model ESGIForm.Models.Form

@{
    if (Model == null)
    {
        <h2>Le formulaire demandé n'existe pas</h2>
    }
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/layout.cshtml";
}

<div class="container" style="margin:0 auto;width:700px">
    <h3>@Model.Title</h3><br />
    Description : <span><i>@Model.Description</i></span>

    @using (Html.BeginForm("Show", "Form", FormMethod.Post))
    {
        foreach (var item in Model.ListQuestion)
        {
                @Html.Label(@item.Title)<br />
            <input type="radio" name="@item.QuestionId" value="oui" >@Html.Label("oui")
            <input type="radio" name="@item.QuestionId" value="non" >@Html.Label("non")
            <br />
        }
        <input type="hidden" value="@Model.FormId" name="formid" />
    <center>
        <button class="btn btn-lg btn-primary btn-sm" type="submit">Envoyer</button>
    </center>
    }


    Date de cloture : <span>@Model.CloseDate</span>
</div>