@model ESGIForm.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/layout.cshtml";
    
}

<div class="container">
    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-signin" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <h2 class="form-signin-heading">Connectez-vous</h2>
        
        @Html.LabelFor(a => a.Username)
        @Html.TextBoxFor(a => a.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Username)<br />
            
        @Html.LabelFor(a => a.Password)
                
        @Html.PasswordFor(a => a.Password, new { @class = "form-control" })
                
        @Html.ValidationMessageFor(a => a.Password)
        <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>

    }
</div>