@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/layout.cshtml";

}
<h2>Backoffice utilisateur</h2>
<a href="@Url.Action("Add", "Form")">
    <button type="button" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-pencil">
        </span> Ajouter un formulaire
    </button>
</a>
<div class="table-responsive" style="width:1000px;margin:0 auto">
    <table class="table">
        <tr>
            <td>Title</td>
            <td>Date de cloture</td>
            <td>Action</td>
            <td>Status</td>
        </tr>
        @foreach (@ESGIForm.Models.Form item in @Model)
        {
            <tr>
                <td class="active">@item.Title</td>
                <td class="active">@item.CloseDate</td>
                <td class="active">
                    <a href="@Url.Action("Show", "Form", new { hash = @item.Hash })">
                        <button type="button" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-pencil">
                            </span> Voir
                        </button>
                    </a>
                    <a href="@Url.Action("Edit", "Form", new { guid = @item.FormId })">
                        <button type="button" class="btn btn-warning btn-xs">
                            <span class="glyphicon glyphicon-pencil">
                            </span> Modifier
                        </button>
                    </a>
                    <a href="@Url.Action("Delete", "Form", new { guid = @item.FormId })">
                        <button type="button" class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-remove">
                            </span> Supprimer
                        </button>
                    </a>
                    <a href="@Url.Action("Show", "Stat", new { guid = @item.FormId })">
                        <button type="button" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-stats">
                            </span> Stat
                        </button>
                    </a>
                </td>
                @if (@item.Status == "1"){
                    <td class="success">Publié</td>
                }
                else
                {
                    <td class="warning">Brouillon</td>
                }
            </tr>
        }

    </table>
</div>


@*<table>
    <tr>
        <td>Title</td>
        <td>Date de cloture</td>
        <td>Action</td>
    </tr>
@foreach (@ESGIForm.Models.Form item in @Model)
{
    <tr>
        <td>@item.Title</td>
        <td>@item.CloseDate</td>
        <td>@Html.ActionLink("edit", "Edit", new { controller = "Form", guid = @item.FormId })</td>
        <td>@Html.ActionLink("delete", "Add", new { controller = "Form", guid = @item.FormId })</td>
        <td>@Html.ActionLink("stat", "Add", new { controller = "Stat", guid = @item.FormId })</td>
        <td>@Url.Action("Edit", "Form", new { guid = @item.FormId })</td>
        

    </tr>
}
</table>*@