@model ESGIForm.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/layout.cshtml";
}

<div class="container">
    @using (Html.BeginForm("Register", "Home", FormMethod.Post, new { @class = "form-signin" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <h2 class="form-signin-heading">Création d'un compte</h2>
        
        @Html.LabelFor(a => a.Username)
        @Html.TextBoxFor(a => a.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Username)

        @Html.LabelFor(a => a.Firstname)
        @Html.TextBoxFor(a => a.Firstname, new { @class = "form-control" })
        @Html.LabelFor(a => a.Lastname)
        @Html.TextBoxFor(a => a.Lastname, new { @class = "form-control" })

        @Html.LabelFor(a => a.Password)
        @Html.PasswordFor(a => a.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Password)
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Créer</button>
        
    }
</div>